@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}
/* --- HEADER ---*/
header{
  height: 100px;
  z-index: 20;
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  filter: drop-shadow(0 25px 25px rgba(0,0,0,.15));
  align-items: center;
  position: fixed;
  width: 100%;
}
header img{
  width: 125px;
  height: auto;
}
header a{
  color: white;
  margin-left: 20px;
  text-decoration: none;
}
header a:hover{
  text-decoration: underline;
}

.animals-dropdown{
  position: relative;
  display: inline-block;
}
.animals-button{
  background-color: #FFCE1F;
  color: black;
  border-radius: 10px;
  padding: 16px; 
  margin-left: 20px;
  font-size: 16px;
  border: none;
}

.animals-content{
  display: none;
  position: absolute;
  background-color: #FFCE1F;
  width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 1;
}
.animals-content a{
  color: black;
  border-radius: inherit;
  padding: 12px 16px;
  margin-left: 0;
  text-decoration: none;
  display: block;
}
.animals-content a:hover {background-color: #ffe176; text-decoration:none;}

.animals-dropdown:hover .animals-content {display: block;}
.animals-dropdown:hover .animals-button {  background-color: #fed952;;}


/* --- HOME --- */

/* *Hero* */
.hero{
  height: 100vh;
  display: flex;
  position: relative;
  color: black;
  justify-content: center;
  align-items: center;
  background-color: #E8E9EB;
}

.hero ul{
  display: flex;
  margin-top: 20px;
}
.hero ul li{
  list-style-type: none;
}
.hero ul li a{
  text-decoration: none;
  margin-left: 20px;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #FFCE1F;
  background-color: #FFCE1F;
  display: flex;
  justify-content: center;
  width: 120px;
  transition: all 0.2s ease-in-out;
}
.hero ul li:nth-of-type(1) a{
  margin-left: 0;
}
.hero ul li a:hover{
  background-color: #ffe176;
}
.hero div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  position: relative;
  top: 0;
}
.responsive-div{
  width: 500px;
  height: 500px;
}
h3{
  font-size: 60px;
  font-weight: 900;
}
.hero div p{
  margin-top: 40px;
  font-size: 20px;
}
.hero div img,.hero div video{
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
}
.hero .hero-text-wrapper,.hero .hero-img-wrapper{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img{
  width: 50%;
  border-radius:  20%;
}

/* *About Us* */
#about-us{
  color: #E5E6E8;
  height: 80vh;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#about-us div{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-us img{
  object-fit: cover;
  border-radius: 20%;
}
#about-us div:nth-child(1){
  position: relative;

}
#about-us div div{
  position: relative;
}
#about-us .dog-icon,.cat-icon{
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 140px;
  height: 140px;
  transform: rotate(30deg) !important;
}
#about-us .about-us-text{
  width: 80%;
}
/* --- CONTACT US --- */
#contact-us{
  height: 80vh;
  background-color: #E8E9EB;
  color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us-wrapper{
  width: 80%;
  background-color: white;
  color: #E8E9EB;
  border-radius: 50px;
  height: 80%;
}
.contact-us-content{
  display: flex;
  height: 100%;
}
.contact ,.message{
  padding: 50px;
}
.contact{
  position: relative;
  background-image: url('assets/contact-cat.webp');
  background-size: cover;
  background-position: 50% 1%;
  width: 40%;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.contact .cat-icon{
  left: auto;
  right: 20px;
  top:20px;
  transform: rotate(220deg) !important;
}
.message{
  width: 60%;
  background-color: #171717;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.message div{
  height: 90%;
}
.message form{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: start;
}

.message form div{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width:  100%;
}
.message input{
  background-color: #EDF6FD;
  border: 0;
  color: #E5E6E8;
  height: 40px;
  border:0;
  background-color: transparent;

  border-bottom: 2px solid #EDF6FD;
}
.message input[type=submit]{
  border: 2px solid white;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  transition: all 0.2s ease-in-out;
}
.message input[type=submit]:hover{
  background-color: white;
  color: #171717;
}
.message form > label{
  width: 100%;
}
.message label{
  display: flex;
  flex-direction: column;
}
.message input:focus{
  outline: none;
}
.message form textarea{
  width: 100%;
  height: 100px;
  background-color: transparent;
  border: 2px solid white;
  margin-top: 10px;
  color: white;
  resize: none;
  outline: none;
  padding: 10px;
}

/* --- UTILITIES --- */
.header-gap{
  padding-top: 100px;
  width:  100%;
}
.responsive-div,#about-us .responsive-div{
  width: 500px;
  height: 500px;
}
.responsive-paragraph{
  font-size: 16px;
}

/* --- MOBILE MENU ---*/
.container {
  position: relative;
  padding: 1.5rem;
  z-index: 5;
}

.menu-toggle {
  position: absolute;
  right: 1.5rem;
  top: 49%;
  transform: translate(0, -50%);
  height: 26px;
  width: 29px;
  color: white;
}

.menu-toggle:hover {
  color: white;
}

.menu-toggle-bar {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1pt;
  right: 0;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: white;
  transition: all 0.3s ease;
}

.menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, -8px);
}

.menu-toggle-bar.menu-toggle-bar--middle {
}

.menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 8px);
}

.nav-open .menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, 0) rotate(45deg);
}

.nav-open .menu-toggle-bar.menu-toggle-bar--middle {
  opacity: 0;
}

.nav-open .menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 0) rotate(-45deg);
}

.mobile-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0,0.6);
  display: none;
}
.hamburger-menu{
  display: none;
}
.mobile-menu{
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #171717;
  width: 250px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-menu div{
  width: 100%;
}
.link-mobile-header-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-mobile-header-div a{
  margin-bottom: 50px;
}
footer{
  width: 100%;
  justify-content: center;
  height: 40px;
  align-items: center;
  background-color: #171717;
  color: #E8E9EB;
  display: flex;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1200px) {
  .hero div,.responsive-div,#about-us .responsive-div{
    width: 350px;
    height: 350px;
  }
  h3{
    font-size: 40px;
  }

  .hero ul li a{
    width: 100px;
  }
  .responsive-paragraph{
    font-size: 13px;
  }
  #about-us .dog-icon {
    width: 100px;
    height: 100px;
    left: 0;
}
.message form div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.message form input{
  width: 150px;
}
.message form input[type=text],.message form input[type=email]{
  height: 30px;
}
.email-label{
  margin-top: 20px;
}
.cat-icon{
  width: 100px;
  height: 100px;
}
}

@media only screen and (max-width: 920px) {
  .hero div,.responsive-div,#about-us .responsive-div{
    width: 300px;
    height: 300px;
  }
  .message form div{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .message form label{
    width: 100%;
  }
  .message form input{
    width: 100%;
  }
  .message form input[type=text],.message form input[type=email]{
    height: 30px;
  }
  .message form label{
    margin-top: 20px;
  }
  h3{
    font-size: 30px;
  }
  .hero ul li a{
    width: 80px;
  }
  #about-us .dog-icon {
    width: 80px;
    height: 80px;
    left: 0;
}
  .cat-icon{
    width: 80px;
    height: 80px;
    right: 0;
  }
  .message input[type=submit]{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .hero div,.responsive-div,#about-us .responsive-div{
    width: 250px;
    height: 250px;
  }
  .hero ul li a{
    width: 70px;
  }
  .responsive-paragraph{
    font-size: 12px;
  }
}
@media only screen and (max-width: 601px) {
  .hero{
    flex-direction: column;
  }
  .hero-img-wrapper{
    margin-top: 50px;
  }
  .hamburger-menu{
    display: block;
}
  header nav{
    display: none;
  }
  #about-us{
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  #about-us img:nth-child(1){
    margin-top: 40px;
  }
  .about-us-image-wrapper{
    margin-bottom: 40px;
  }
  #about-us div{
    width: 80%;
  }
  #about-us .about-us-text {
    width: 90%;
}
.message{
  width: 100%;
  border-radius: 50px;
  padding: 30px;
}
#contact-us{
  padding: 30px;
}
.contact-us-wrapper,#contact-us{
  height: auto;
}
.contact{
  display: none;
}
}