@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- HEADER ---*/
header{
  height: 100px;
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  filter: drop-shadow(0 25px 25px rgba(0,0,0,.15));
  align-items: center;
  position: fixed;
  width: 100%;
}
header img{
  width: 125px;
  height: auto;
}
header a{
  color: white;
  margin-left: 20px;
  text-decoration: none;
}
header a:hover{
  text-decoration: underline;
}

.animals-dropdown{
  position: relative;
  display: inline-block;
}
.animals-button{
  background-color: #FFCE1F;
  color: black;
  border-radius: 10px;
  padding: 16px; 
  margin-left: 20px;
  font-size: 16px;
  border: none;
}

.animals-content{
  display: none;
  position: absolute;
  background-color: #FFCE1F;
  width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 1;
}
.animals-content a{
  color: black;
  border-radius: inherit;
  padding: 12px 16px;
  margin-left: 0;
  text-decoration: none;
  display: block;
}
.animals-content a:hover {background-color: #ffe176; text-decoration:none;}

.animals-dropdown:hover .animals-content {display: block;}
.animals-dropdown:hover .animals-button {  background-color: #fed952;;}


/* --- HOME --- */

.hero{
  height: 100vh;
  display: flex;
  
  color: black;
  justify-content: center;
  align-items: center;
  background-color: #E8E9EB;
}

.hero ul{
  display: flex;
  margin-top: 20px;
}
.hero ul li{
  list-style-type: none;
}
.hero ul li a{
  text-decoration: none;
  margin-left: 20px;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #FFCE1F;
  background-color: #FFCE1F;
  display: flex;
  justify-content: center;
  width: 120px;
  transition: all 0.2s ease-in-out;
}
.hero ul li a:hover{
  background-color: #ffe176;
}
.hero div{
  display: flex;
  justify-content: center;

  flex-direction: column;
  margin-top: 100px;
  width: 500px;
  height: 500px;
  position: relative;
  top: 0;
}
.hero div h3{
  font-size: 60px;
  font-weight: 900;
}
.hero div:nth-child(1){
  margin-right: 20px;
}
.hero div p{
  margin-top: 40px;
  font-size: 20px;
}
.hero div img,.hero div video{
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
}
.hero-img{
  margin-left: 100px;
  border-radius:  20%;
}
